@use "./utils/vars" as *;
@import "./components/global";
@import "./components/page-header";
@import "./components/logo";
@import "./components/navigation";
@import "./components/contact";
@import "./components/hero";
@import "./components/modal-window-backdrop";
@import "./components/modal-window-form";
@import "./components/section";
@import "./components/description";
@import "./components/specialty";
@import "./components/team";
@import "./components/clients";
@import "./components/page-footer";
@import "./components/portfolio-buttons";
@import "./components/portfolio-projects";
