.clients {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;

  &__item {
    width: 210px;
    height: 92px;
    background-color: var(--background);
    border: 1px solid var(--fill-icon);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 52px;
    @include tablet {
      width: 226px;
      height: 92px;
      padding: 16px 60px;
    }
    @include desktop {
      width: 170px;
      height: 92px;
      padding: 16px 32px;
    }
  }
  &__item:hover,
  &__item:focus {
    cursor: pointer;
    border: 1px solid var(color-accent-blue);
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
  &__logo {
    fill: var(--fill-icon);
  }
  &__item:hover &__logo,
  &__item:focus &__logo {
    fill: var(--color-accent-blue);
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
}
