.contact {
  display: flex;
  align-items: center;
  gap: 30px;

  &__mail-phone {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--color-text-info);
    display: flex;
    align-items: center;
  }
  &__mail-phone:hover,
  &__mail-phone:focus {
    color: var(--color-accent-blue);
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
  &__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
