.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 2.6rem;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

  &--header {
    color: var(--color-text-logo);
    padding: 16px 0;

    @include tablet {
      padding: 26px 0;
    }

    @include desktop {
      padding: 24px 0 25px 0;
    }
  }

  &--footer {
    color: var(--color-text-secondary);
    padding-top: 60px;
    font-size: 2.4rem;
    @include desktop {
      font-size: 2.6rem;
    }
  }

  &--highlight {
    color: var(--color-accent-blue);
  }
}
