.page-header {
  border-bottom: 1px solid #ececec;

  &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 371px;
    gap: 93px;
  }
}
