.section {
  padding-block: 60px;

  @include tablet {
    padding-bottom: 45px;
  }
  @include desktop {
    padding-block: 94px;
  }

  &__title {
    font-weight: 700;
    font-size: 2.8rem;
    letter-spacing: 0.03em;
    text-align: center;
    margin-block: 0 30px;

    @include desktop {
      font-size: 3.6rem;
      line-height: 1.2;
      margin-block: 0 50px;
    }
  }
  &__title--specialty {
    display: none;

    @include desktop {
      display: inherit;
    }
  }
}
