.team {
  background-color: var(--background-secondary);

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    margin-top: 0;
    padding-left: 0;
    @include tablet {
      flex-wrap: wrap;
    }
    @include desktop {
      display: flex;
    }
  }
  &__item {
    background: var(--background);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 100%;
    @include tablet {
      max-width: 354px;
    }
    @include desktop {
      max-width: 270px;
    }
  }
  &__picture {
    display: flex;
    justify-content: center;
  }
  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  &__name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 30px 99px 10px;
    display: flex;
    justify-content: center;
  }
  &__job-position {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-text-info);
    margin: 0 auto 16px auto;
    text-align: center;
  }
}

.team-socialmedia {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-inline: 32px;
  margin-bottom: 30px;

  &__link {
    width: 44px;
    height: 44px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--color-accent-blue);
    cursor: pointer;
    border-radius: 50%;
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
  &__icon {
    fill: var(--fill-icon);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--color-text-secondary);
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
}

/* 

@include tablet {
      width: calc(100% / 2 - 15px);
  }

@include media-query-desktop {
  .team-card {
    width: calc(100% / 4 - 23px);
    display: flex;
  }
}


.team {
  background-color: var(--background-secondary);

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    margin-top: 0;
    padding-left: 0;
  }
}

.team-card {
  width: 100%;
  background: var(--background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  max-height: 428px;

  &__name {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin: 30px 99px 10px;
  }
  &__position {
    font-size: 1.6rem;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--color-text-info);
    margin: 0 auto 16px auto;
    text-align: center;
  }
}

@include media-query-tablet {
  .team-card {
    width: calc(100% / 2 - 15px);
  }
}
@include media-query-desktop {
  .team-card {
    width: calc(100% / 4 - 23px);
    display: flex;
  }
}

.team-socialmedia {
  display: flex;
  gap: 10px;
  margin-inline: 32px;
  margin-bottom: 30px;

  &__link {
    width: 44px;
    height: 44px;
    background-color: var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__link:hover,
  &__link:focus {
    background-color: var(--color-accent-blue);
    cursor: pointer;
    border-radius: 50%;
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
  &__icon {
    fill: var(--fill-icon);
  }
  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: var(--color-text-secondary);
    transition-duration: var(--default-time);
    transition-timing-function: var(--default-timing-function);
  }
}


*/
