:root {
  --background: #ffffff;
  --background-secondary: #f5f4fa;
  --background-footer: #2f303a;
  --color-text: #212121;
  --color-text-secondary: #ffffff;
  --color-text-info: #757575;
  --color-text-logo: #000000;
  --color-accent-blue: #2196f3;
  --fill-icon: #afb1b8;
  --border-color: #eeeeee;
  --default-time: 250ms;
  --default-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
